fastapi
asyncio
uvicorn
pydantic
langchain
langchain_ollama
gradio
aiokafka
kafka-python
agno
elasticsearch
markdown
sentence-transformers
sqlalchemy
pgvector
agno-ai
duckduckgo-search
email-validator